body{
    background-color: white;
}
.contenedor-ejercicio-uno{
    margin-top: 15px;
    margin-left: 360px;
    margin-right: 360px;
    padding: 20px;
    background-color: #7A99AE;
    border: 1px solid black;
}
.titulo-cuadro{
    text-align: center;
}
.titulo-seccion-uno{
    margin-left: 12%;
    height: 30px;
}
.titulo-seccion-dos{
    margin-left: 16%;
    height: 30px;
}


